@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	min-width: 0;
}

input {
	color-scheme: dark;
}

.rdp-day_selected,
.rdp-day_selected:focus-visible,
.rdp-day_selected:hover {
	background-color: #164e63 !important;
}
